%h1 Services Overview

%ul{:data=>{:role=>"listview"}}
 -@services.each do |service|
  %li
   %a{:href=>edit_servicePipeline_service_path(service.id)}= service.name 


%br
%a{:data=>{:role=>"button"},:data=>{:role=>"button"},:href=>new_service_path}
 New Service
